<div class="addCustomerClassifier">
    <form class="form-horizontal">
        <div class="form-group">
            <div>
                <label for="classifierName">Name</label>
                <input type="text" class="form-control new-group" ng-model="classifier.name"
                       id="classifierName" required>
            </div>
            <div>
                <label for="classifierDescription">Description</label>
                <textarea class="form-control description" id="classifierDescription" ng-model="classifier.description"
                          required placeholder="Optional"></textarea>
            </div>
            <div>
                <label for="classifierProtocol">Protocol</label>
                <select class="form-control protocol" name="protocol" id="classifierProtocol" ng-model="classifier.protocol">
                    <option value={{protocol.value}} ng-repeat="protocol in protocols ">{{protocol.name}}</option>
                </select>
            </div>
            <div>
                <label for="classifierPort">Port/Value</label>
                <input type="text" class="form-control ports" ng-model="classifier.port"
                       id="classifierPort" required>
            </div>
            <div>
                <label for="classifierCategory">Category</label>
                <select class="form-control category-value" name="category" id="classifierCategory" ng-model="classifier.category">
                    <option value={{category.value}} ng-repeat="category in categories ">{{category.name}}</option>
                </select>
            </div>
        </div>
    </form>
    <div class="button-group">
        <div class="button">Cancel</div>
        <div class="button" ng-click="createClassifier()">Create</div>
    </div>
</div>