@import "../../../styles/variables";


.addCustomerClassifier {

 .protocol{
     width: 150px;
     height: 32px;
     margin-top: 12px;
  }

  .ports{
    width: 150px;
    height: 32px;
    margin-top: 12px;
  }

  .category{
    width: 250px;
    height: 32px;
    margin-top: 12px;
  }

  .ruleSetCategory{
    margin-left: -55px;
  }

  .openClose {
    position: absolute;
    margin-top: 50px;
    margin-left: 250px;
    }
}