<h1>Use Existing Rule Set</h1>

<div class="search-bar">
    <label for="search">Search</label>
    <input-search model="search" id="search"></input-search>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Classifiers</th>
        <th>Default/Custom</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ruleSet in ruleSets() | filter:search" ng-click="selectRuleSet(ruleSet)"
        ng-class="{'selected' : ruleSet === selected}">
        <td>{{ruleSet.name}}</td>
        <td>{{ruleSet.classifiers.join(',')}}</td>
        <td>{{ruleSet.custom}}</td>
    </tr>
    </tbody>
</table>
<div class="modal-footer button-group">
    <div class="button button--secondary" ng-click="cancel()">Cancel</div>
    <div class="button" ng-click="ok()">Use</div>
</div>

