<h1>New Rule Set</h1>
<div class="rulesets-settings">
    <div>
        <div class="form-group">
            <label for="ruleSetName">Name</label>
            <input type="text" class="form-control new-group" ng-model="newRuleSet.name" id="ruleSetName" required>
        </div>
        <div class="form-group">
            <label for="ruleSetDesc">Description</label>
            <textarea class="form-control description" id="ruleSetDesc" ng-model="newRuleSet.description" required
                      placeholder="Optional"></textarea>
        </div>
    </div>
  <add-edit-rules rule-set="newRuleSet" edit-rule="editRule"></add-edit-rules>
</div>
<div class="button-group">
    <div class="button button--secondary" ng-click="cancelRuleSet()">Cancel</div>
    <div class="button" ng-click="create()" ng-class="{ 'is-disabled': disabled() }">Create</div>
</div>
