@import "variables";

.base {
  font-family: 'CiscoSansTT';
  user-select: none;

  h2 {
    color: @color-70;
    font-weight: 200;
    font-size: 18px;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}



