@Color70: #C4C7CC;

.base {
  font-family: 'CiscoSansTT';

  h2 {
    color: @Color70;
    font-weight: 200;
    font-size: 18px;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}



