@import 'variables';

.peBtn {
  font-family: 'CiscoSansTT';
  font-size: 12px;
  color: white;
  line-height: 18px;
  border-radius: 16px;
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
  
  div, span {
    display: inline-block;
    vertical-align: top;
  }
  .plus {
    &:extend(.thin);
    display: inline-block;
    // position: absolute;
    // left: 30px;
    font-size: 28px;
    line-height: 18px;
    height: 18px;
    width: 18px;
    margin-right: 3px;
  }
}

.peBtn--secondary {
  background-color: @color-70;
  &:hover {
    &:extend(.peBtn--hover);
  }
}

.peBtn--primary {
  background-color: @green;
  &:hover {
    &:extend(.peBtn--hover);
  }
}

.peBtn--disabled {
  &:extend(.extra-light);
  font-size: 12px;
  color: @color-70;
  background-color: @color-80;
}

.peBtn--hover {
  color: @color-80;
  background-color: @blue;
}

.peBtn--selected {
  &:extend(.extra-light);
  font-size: 12px;
  color: @color-60;
  background-color: @color-80;
  &:hover {
    &:extend(.peBtn--hover);
  }
}