@blue: #0096D6;
@green: #C7DB5D;

@color-50: #333439;
@color-60: #71757F;
@color-70: #C4C7CC;
@color-75: #D8D8D8;
@color-80: #E8ECF2;
@color-90: #F7F7F7;
@color-100: #FFFFFF;

@provide: #62A6D1;
@consume: #5DCAA2;

@column-height: 900px;

@launchNav-notification-backgroundColor: #7CBC59;
@launchNav-notification-color: #fff;
@launchBubble-neutral-stat-color: #0096D6;
@launchBubble-good-stat-color: #7CBC59;
@launchBubble-drawer: #f7f7f7;
@launchBubble-drawer-good-stat: #7ABD53;
@launchBubble-drawer-bad-stat: #EC2D0B;
