@import 'variables';

.listView {
  table-layout: fixed;

  tr {
    width: 100%;
    display: table;
    text-align: left;
  }

  th, td {
    padding: 6px 8px 6px 8px;
    line-height: 16.5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  thead {
    font-weight: bold;
    font-size: 12px;
    color: @color-50;
    th {
      border-bottom: 1px solid @color-70;
    }
  }
  tbody {
    tr {
      cursor: pointer;

      &:hover {
        background-color: @color-90;
      }

      &.is-selected {
        background-color: @color-80;
      }

      &.is-selected--border {
        border-left: 3px solid @blue;
        td {
          border-bottom: 1px solid white;
        }
      }

    }
    td {
      white-space: nowrap;
      height: 32px;
      border-bottom: 1px solid @color-80;
      color: @color-50;
    }
  }
}

// variation in which on hover of a tr, it will add a blue border to the left of the tr
.listView--borderHover {
  thead {
    th:first-child {
      padding-left: 10px;
    }
  }
  tbody {
    tr {
      border-left: 3px solid white;

      &:hover {
        border-left: 3px solid @blue;
      }
    }
  }
}

// variation in which on hover of row, icon appears on right
// when the user hovers over the icon, the icon will disappear and be replaced by the "active" version of the icon
.listView--iconsHover {
  td:last-child {
    text-align: right;
  }

  tr:hover  {
    .listView-icons {
      visibility: visible;
    }
  }

  .listView-icons {
    margin-right: 12px;
    display: inline-block;
    visibility: hidden;

    &:hover {
      .listView-icon.is-displayed-on-hover {
        display: inline-block;
      }
      .listView-icon.is-hidden-on-hover {
        display: none;
      }
    }
  }

  .listView-icon {
    width: 16px;
    height: 16px;

    &.is-displayed-on-hover {
      display: none;
    }
    &.is-hidden-on-hover {
      display: inline-block;
    }
  }
}

.listView-number {
  min-width: 25px;
  min-height: 25px;
  background-color: @color-70;
  color: white;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  padding-top: 6px;
}

.listView-headerDescription {
  color: @color-60;
  font-weight: normal;
  margin-bottom: 20px;
  &:extend(.thin);
}

.listView-innerList {
  &:extend(.thin);
  color: @color-50;
  padding-bottom: 8px;
  &:first-child {
    padding-top: 6px;
  }
}
