<div class="serviceEdit-subView">
  <table class="objectsSettings-editableItems serviceEdit-ruleSet-editableItems">
    <tr>
      <td class="objectsSettings-editHeader">Name</td>
      <td class="objectsSettings-editText">{{ruleSet.name}}</td>
    </tr>
    <tr>
      <td class="objectsSettings-editHeader">Description</td>
      <td class="objectsSettings-editText">{{ruleSet.description}}</td>
    </tr>
  </table>
  <detailed-rules-list rule-set="ruleSet" edit-rule="editRule()"></detailed-rules-list>
  <div class="button-group serviceEdit-buttons">
    <div class="button button--secondary serviceEdit-ruleSet-button" ng-click="editRule()">Edit Rules</div>
    <div class="dropdown button-dropdown">
        <div class="button button--secondary dropdown-toggle button--dropdown serviceEdit-ruleSet-button" data-toggle="dropdown" aria-expanded="true">Select Different Rule Set</div>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a role="menuitem" ui-sref="main.service.newRuleSet">New Rule Set</a></li>
        <li role="presentation"><a role="menuitem" ng-click="selectExistingRuleSet()">Existing Rule Set</a></li>
      </ul>
    </div>
  </div>
</div>
