<div class="allocation-cards">
    <h2>Assignments</h2>
    <div class="allocation-card" ng-repeat="allocation in allocations" ng-click="goToAllocation(allocation)">
        <h3>{{allocation.item.name}}</h3>
        <simple-donut data="allocation.collection" type="{{allocation.type}}"></simple-donut>
        <div class="sliding-box">
            <h4>{{listHeader(allocation)}}</h4>
            <a ng-click="delete(allocation)">Delete</a>
            <p ng-repeat="item in allocation.collection">
                {{item.name}}
            </p>
        </div>
    </div>
    <div class="allocation-card" ui-sref="main.allocation.new">
        <div class="scircle">
            <span class="img-plus-serdfn" id="plus-serdfn"></span>
        </div>
    </div>
</div>


