@import "../../../styles/variables";

.allocation-cards {
  padding-left: 15px;

  .allocation-card {
    background-color: white;
    height: 225px;
    width: 326px;
    margin-top: 20px;
    margin-right: 15px;
    padding: 0 15px;
    border: 2px solid @color-80;
    cursor: pointer;
    float: left;
    position: relative;
    overflow: hidden;

    h4 {
      display: inline-block;
      font-weight: 400;
      font-size: 10px;
      text-transform: uppercase;
      color: @blue;
      letter-spacing: 0.55px;
      line-height: 15px;
      margin: 12px 0 0;
    }

    a {
      float: right;
      padding: 12px;
    }

    &:hover {
      .sliding-box {
        bottom: 0;
      }
    }

    .sliding-box {
      background-color: rgba(232, 236, 242, 0.90);
      height: 172px;
      width: 100%;
      padding-left: 15px;
      position: absolute;
      bottom: -172px;
      left: 0;

      transition: all 0.5s ease;

      h4 {
        color: @color-60;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 17px;
        margin-bottom: 5px;
      }

      p {
        font-size: 10px;
        color: @color-60;
        line-height: 8px;

      }
    }
  }
  .scircle {
    position: relative;
    text-align: center;
    background-color: @color-80;
    border: 2px solid @color-80;
    height: 125px;
    vertical-align: middle;
    width: 125px;
    border-radius: 100px;
    padding-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .img-plus-serdfn {
      background: url(../../../images/icon.png) no-repeat 0px -484px;
      display: inline-block;
      width: 43px;
      height: 43px;
      background-size: 818px;
      cursor: pointer;
      margin: -11px -56px;
    }
  }

}

.allocations {

  .side-panel {
    height: @column-height;
    margin-top: -15px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
  }

  .middle-panel {
    height: @column-height;
    background-color: @color-90;
    border-left: 1px #DFDFDF solid;
    border-right: 1px #DFDFDF solid;
    z-index: 0;

    .img-close {
      background: url(../../../images/icon.png) no-repeat -33px -80px;
      display: inline-block;
      width: 16px;
      height: 18px;
      background-size: 790px;
      cursor: pointer;
      float: right;
    }

    .instructions {
      width: 257px;
      font-weight: 300;
      font-size: 12px;
      color: @color-60;
      letter-spacing: 0.1px;
      line-height: 18px;
      margin: 53px auto 105px;
      text-align: center;
    }
  }

  .allocation {
    text-align: center;

    .instructions {
      width: 245px;
      margin: 20px auto 0px;
    }
  }

  .selected {
    font-weight: bold;
  }

  .services-header {
    margin-top: 117px;
    text-transform: uppercase;
    color: @color-60;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 1.5px;
  }

  .services-number {
    font-size: 36px;
    font-weight: 300;
    line-height: 49px;
    padding-top: 3px;
  }

  .provide {
    color: @provide;
  }

  .consume {
    color: @consume;
  }

  .show-list {
    font-weight: 300;
    font-size: 12px;
    color: @blue;
    letter-spacing: 0;
    line-height: 16px;
  }

  .drag-here {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 999px;
    border: 2px solid @color-70;

    &.drag-enter {
      border-color: @blue;
    }

    .drag-instructions {
      margin: 80px auto;
      width: 130px;
      font-size: 14px;
      color: @color-70;
      letter-spacing: 0.1px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}