@import "../../../../../styles/variables";
@import "../../../../../styles/buttons";
@import "../../../../../styles/forms";

.rulesets-settings {
  padding-left: 15px;
  .edit{
    cursor: pointer;
    display: inline-block;
    margin-left: 32px;
    background: url(../../../../../images/icon_x_16.png) 16px,16px;
  };
}

.rulesets-settings-editableItems {
  margin-bottom: 40px;

  .rulesets-settings-editableItems-header {
    &:extend(.extra-light);
    color: @color-60;
    width: 85px;
    font-size: 12px;
  }

  .rulesets-settings-editableItems-text {
    &:extend(.extra-light);
    color: @color-50;
    width: 315px;
    position: absolute;
    margin-left: 103px;
    margin-top: -17px;
  }
}


  .editable-buttons button[type=submit] {
    &:extend(.button);
    margin-left: 20px;
    padding-top: 4px;
  }

  .editable-buttons button {
    &:extend(.button);
    &:extend(.button--secondary);
    padding-top: 4px;
  }

.rulesets-settings-helpText {
  &:extend(.extra-light);
  width: 520px;
  color: @color-60;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 18px;
}

.rulesets-settings-editButton {
  margin-bottom: 12px;
  .button {
    width: 128px;
  }
}

.rulesets-settings-list {
  width: 650px;
  .listView {
    width: 650px;
    td {
      color: @color-60;
      vertical-align: top;
    }
  }
}
