<div ng-repeat="item in items">
  <div class="list-element"
    ng-drag="true"
    ng-drag-data="dragData(item)"
    ng-class="{selected: selected(item)}"
    ng-style="paddingLeft(item)">
    <div class="folder-toggle" ng-show="item.children" ng-click="toggleFolder(item)">
        <div class="icon-carot" ng-class="{ collapsed: collapsedFolders[item.id]}"></div>
    </div>
    <div class="icon-and-name" ng-click="goTo(item)">
        <div class="img-item" ng-class="itemIcon(item)"></div>
        {{item.name}}
    </div>
  </div>
  <hr/>
   <assignment-panel-tree
      items="children(item)"
      collapsed-folders="collapsedFolders"
      go-to="goTo"
      drag-data="dragData"
      item-icon="itemIcon"
      selected="selected"
      toggle-folder="toggleFolder"
      children="children"
      title="title">
  </assignment-panel-tree>
</div>