@import "../../../../styles/variables";
.groups {

.listView {

  th, td {
    padding: 8px 8px 4px 12px;
  }
  thead {
   border: 1px solid @color-70;
  }
  tbody {
    tr {
    border: 1px solid @color-70;
      &:hover {
        background-color: @color-100;
      }
    }
    td {
      height: 32px;
      border-bottom: 1px solid @color-80;
      color: @color-50;
    }
  }

  .optionsEdit {
    td {
    width: 127px;
    }
  }

  .optionsValue {
  width: 170px !important;
  }

}

input, button, select, textarea {
  width: 112px;
  height: 31px;
  border-color: #ccc;
}

.condition {
 width:144px;
}

.values {
  height:100px
}




.plus {
background: url(../../../../../images/icon_x_16.png);
height: 16px;
width: 16px;
}
}