<h1>New Group</h1>
<div class="container-fluid">

    <div class="col-sm-6 form-horizontal meta">

        <div class="form-group">
            <label for="groupName">Name</label>
            <input type="text" class="form-control new-group" ng-model="group.name" id="groupName" required>
        </div>
        <div class="form-group">
            <label for="groupDesc">Description</label>
            <textarea class="form-control description" id="groupDesc" ng-model="group.description" required
                      placeholder="optional"></textarea>
        </div>
    </div>

    <div class="col-sm-6 ep-pools">
        <div class="row">

            <div class="col-sm-3">
                Endpoint Pools
            </div>
            <div class="col-sm-9">
                <div class="pool-list" ng-click="poolsExpanded = !poolsExpanded">
                    <div ng-show="selectedPools.length === 0 && !poolsExpanded" class="helper-text">
                        Click here to add one or more pools
                    </div>
                    <div ng-repeat="pool in selectedPools" class="selected-pool">
                        {{pool}}
                        <div ng-click="removePool(pool); $event.stopPropagation();" class="delete-pool"></div>
                    </div>
                </div>
                <div ng-class="{ expanded: poolsExpanded }" class="pool-selection">
                    <input-search class="main-search" model="search" placeholder=""></input-search>
                    <div ng-repeat="pool in pools | filter:search" ng-click="togglePool(pool)"
                         ng-class="{ selected: poolSelected(pool) }" class="pool">
                        {{pool}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="button-group">
    <div class="button button--secondary" ng-click="cancel()">Cancel</div>
    <div class="button" ng-click="ok()">Create</div>
</div>
