@import "../../../../styles/variables";
.groups {

.listView {
  margin-left: 110px;
  th, td {
    padding: 8px 8px 4px 12px;
  }
  thead {
   border-bottom: 1px solid @color-70;
   td:last-child {
     text-align: left;
     }
  }
  tbody {
    tr {
      &:hover {
        background-color: @color-100;
      }
    }

    td {
      height: 32px;
      border-top: 1px solid @color-80;
      color: @color-50;
    }
    td:last-child {
      text-align: left;
      }

  }

  .optionsEdit {
    td {
    width: 88px;
    }
    tr {
      &:hover {
         background-color: @color-70 !important;
      }
    }
  }

  .optionsValue {
  width: 120px !important;
  }

  .condition {
   width:163px;
  }

  .add {
  color: @blue;
  }

  .listView--iconsHover .listView-icons {
    margin-left: 38px;
  }
}


input, button, select, textarea {
  width: 99px;
  height: 31px;
  border-color: #ccc;
}

.values {
  height:100px
}

 .switch small {
 width: 20px;
 height: 18px;
 }

 .switch {
 width: 56px;
 height: 19px;
 }

 .switch.checked small {
   left: 36px;
 }
}