<h1>New Group</h1>

<div class="form-horizontal meta">

    <div class="form-group">
        <label for="groupName">Name</label>
        <input type="text" class="form-control new-group" ng-model="group.name" id="groupName" required>
    </div>
    <div class="form-group">
        <label for="groupDesc">Description</label>
            <textarea class="form-control description" id="groupDesc" ng-model="group.description" required
                      placeholder="Optional"></textarea>
    </div>

    <select-pools group="group"></select-pools>
    <div class="form-group groups">
        <label>Conditions</label>
        <table class="listView listView--iconsHover">
            <thead>
            <td>Posture</td>
            <td colspan="2">Value</td>
            </thead>
            <tbody>
            <tr ng-show="none" class="none">
                <td colspan="3">
                    None
                </td>
            </tr>
            <tr class="optionsEdit listView--iconsHover"  ng-repeat = "condition in conditions">
                <td>
                    {{condition.name}}
                </td>
                <td class="optionsValue">
                    {{condition.value}}
                </td>
                <td>
                    <list-view-icon ng-click="edit(condition)" inactive-src="images/icon_edit_16.png"
                                    active-src="images/icon_edit_16_blue.png"></list-view-icon>
                    <list-view-icon ng-click="deleteCondition($index)" inactive-src="images/icon_x_16.png"
                                    active-src="images/icon_x_16_blue.png"></list-view-icon>

                </td>
            </tr>
             <tr ng-show="options">

              <td  data-role="listview" data-inset="true" >
                  <select  data-role="listview" ng-options="catagory as catagory.name for catagory in posture  " ng-model="group.itemsuper" ng-change="changeData()" >
                  </select>
              </td>
                 <td data-role="listview" data-inset="true" colspan="2">
                     <select data-role="listview" class="condition" ng-options="type for type in types " ng-model="group.item1" ng-change="update()">

                     </select>
                 </td>
             </tr>
            <tr>
                <td colspan="3">
                    <div class="plus" ng-click="addPosture()"></div>
                    <div class="minus"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="button-group">
    <div class="button button--secondary" ng-click="cancelGroup()">Cancel</div>
    <div class="button" ng-click="create()">Create</div>
</div>
