@import "../../../styles/variables";

.assignments {
  background-color: white;
  min-height: @column-height;

  .side-panel {
    height: @column-height;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
  }

  .middle-panel {
    padding-bottom: 70px;
    background-color: @color-90;
    border-left: 1px #DFDFDF solid;
    border-right: 1px #DFDFDF solid;
    z-index: 0;

    h2 {
      display: inline-block;
      margin-bottom: 0;
    }

    .button-group {
      display: inline-block;
      float: right;
      padding: 15px 0;
    }

  }

  .instructions {
    margin: 60px 0 130px;
    font-weight: bold;
  }

  .list {
    text-align: center;

    .services-header {
      margin-top: 117px;
      text-transform: uppercase;
      color: @color-60;
      font-size: 10px;
      font-weight: bold;
      line-height: 14px;
      letter-spacing: 1.5px;
    }

    .services-number {
      font-size: 36px;
      font-weight: 300;
      line-height: 49px;
      padding-top: 3px;
    }

    .service-centric {
      color: @serviceCentric;
    }

    .group-centric {
      color: @groupCentric;
    }

    .show-list {
      font-weight: 300;
      font-size: 12px;
      color: @blue;
      letter-spacing: 0;
      line-height: 16px;
    }
  }
}