<div class="serviceEdit-subView">
  <div class="serviceEdit-assignedGroups-container">
    <list-count-filter-search
      count="groups().length"
      filters="groupFilters"
      filter-by="filterGroupsList"
      is-filter-selected="isGroupsListFilterSelected"
      search-model="search.name">
    </list-count-filter-search>
  </div>
  <table class="objectsList-list listView listView--iconsHover serviceEdit-assignedGroups-table">
    <thead>
      <th></th>
      <th>Group</th>
      <th>Assignment Name</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="group in groups() | filter: search">
        <td><img src="images/icon_users_16.png"></img></td>
        <td>{{group.name}}</td>
        <td>{{}}</td>
        <td>
          <list-view-icon ng-click="deletegroup(group)" inactive-src="images/icon_x_16.png" active-src="images/icon_x_16_blue.png"></list-view-icon>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="button-group serviceEdit-buttons">
    <div class="button button--secondary" ng-click="goToAssignment()">
      <div class="plus">+</div>
        <span class="new-text">New Assignment</span>
      </div>
    </div>
  </div>

</div>