<list-count-filter-search
  count="groups().length"
  filters="groupFilters"
  filter-by="filterGroupsList"
  is-filter-selected="isGroupsListFilterSelected"
  search-model="search.name">
</list-count-filter-search>
<table class="objectsList-list listView listView--iconsHover assignedGroups-table">
  <thead>
    <th></th>
    <th>Group</th>
    <th>Assignment Name</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="group in groups() | filter: search">
      <td><!-- icon --></td>
      <td>{{group.name}}</td>
      <td>{{}}</td>
      <td>
        <list-view-icon ng-click="deletegroup(group)" inactive-src="images/icon_x_16.png" active-src="images/icon_x_16_blue.png"></list-view-icon>
      </td>
    </tr>
  </tbody>
</table>
