<div class="search-sort-bar">
    <div class="navCardsList-search">Search <input-search></input-search></div>
    <div class="navCardsList-dropdown">
        <span>Sort by </span>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Newest to Oldest
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Newest to Oldest</a></li>
            </ul>
        </div>
    </div>
    <div class="navCardsList-toggleIcons">
        <div class="toggleIconSet" ng-click="selectCardState()" ng-class="{ active: cardState() }">
            <img class="toggleIcon-active" src="images/icon_view_cards_active.png">
            <img class="toggleIcon-inactive" src="images/icon_view_cards_inactive.png">
        </div>
        <div class="toggleIconSet" ng-click="selectListState()" ng-class="{ active: listState() }">
            <img class="toggleIcon-active" src="images/icon_view_list_active.png">
            <img class="toggleIcon-inactive" src="images/icon_view_list_inactive.png">
        </div>
    </div>
</div>
