<div class="assignment-panel">
    <div class="overlay" ng-show="mask()"></div>
    <div class="inner">
        <h2>{{title}}s</h2>

        <div class="search-bar">
            <form>
                <input type="text" ng-model="search">
            </form>
        </div>
        <div ng-repeat="item in items | filter:search">
            <div class="list-element" ng-class="{ child: item.parentId }"
                 ng-drag="true" ng-drag-data="dragData(item)">
                <div class="img-item" ng-class="itemIcon(item)"></div>
                {{item.name}}
            </div>
            <hr/>
        </div>
    </div>
</div>
