@import "../../../styles/variables";

.objectsSettings {
  width: @settings-width;

  padding-left: 15px;
  .edit{
      cursor: pointer;
      display: inline-block;
      margin-left: 32px;
    };
    .editable-input.editable-has-buttons {
      width: 164px !important;
      height: 26px;
    }
}

.objectsSettings-editableItems {
  margin-bottom: 40px;
}

.objectsSettings-editHeader {
  &:extend(.extra-light);
  color: @color-60;
  width: 100px;
  font-size: 12px;
  display: inline-block;
  padding-top: 15px;
}

.objectsSettings-editText {
  &:extend(.extra-light);
  color: @color-50;
  width: 315px;
  text-align: left !important;
  vertical-align: bottom !important;
  padding-top: 15px;
}

tbody tr:first-child {
  .objectsSettings-editHeader, .objectsSettings-editText {
    padding-top: 0px;
  }
}

.objectsSettings-help {
  &:extend(.extra-light);
  width: 520px;
  color: @color-60;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 18px;
}

.objectsSettings-editButton {
  margin-bottom: 12px;
  .button {
    width: 128px;
  }
}

.objectsSettings-listContainer {
  width: 650px;
}

.objectsSettings-list {
  width: 650px;
  td {
    color: @color-60;
    vertical-align: top;
  }
}

.editable-buttons button[type=submit] {
    &:extend(.button);
    margin-left: 20px;
    padding-top: 4px;
    border: none;
    &:hover {
      &:extend(.button--hover);
    }
  }

  .editable-buttons {
    button {
    &:extend(.button);
    &:extend(.button--secondary);
    padding-top: 4px;
    border: none;
    &:hover {
      &:extend(.button--hover);
    }
  }
}
