@import "../../../styles/variables";

.objectsList {
  min-height: calc(100vh);
  width: 100%;
  background-color: @color-100;
  padding-left: 9.48%;
  padding-right: 9.48%;
}
.objectsList-breadcrumb {
  &:extend(.thin);
  font-size: 18px;
  color: @color-70;
  padding-top: 15px;
  padding-bottom: 30px;
  line-height: 26px;
}

.objectsList-container {
  padding-left: 15px;
}

.objectsList-helpText {
  color: @color-60;
  width: 545px;
  margin-bottom: 25px;
}

.objectsList-new {
  width: 160px;
  position: relative;
  margin-bottom: 28px;
}

.objectsList-countFilterSearch {
  display: block;
  margin-bottom: 24px;
}

.objectsList-list {
  width: 100%;

  td:last-child {
    text-align: right;
  }

  th:first-child {
    width: 17%;
  }
  th:nth-child(2) {
    width: 20%;
  }
  th:nth-child(3) {
    width: 30%;
  }
  th:nth-child(4) {
    width: 22%;
  }
  th:nth-child(5) {
    width: 8%;
  }
}

.rulesList-classifiers {
  max-width: 100%;
  height: 18px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
