@import "../../../styles/variables";

.objectsServices-container {
  width: 615px;
  position: relative;
  left: 15px;
  padding-right: 15px;
}

.objectsServices-description {
  font-size: 12px;
  color: @color-60;
  margin-bottom: 16px;
}

.objectsServices-countSearch {
  margin-bottom: 6px;
}

.objectsServices-count, .objectsServices-search{
  display: inline-block;
}

.objectsServices-count {
  font-size: 40px;
  color: @blue;
  &:extend(.thin);
  vertical-align: middle;

  img {
    height: 30px;
    width: 30px;
  }
}

.objectsServices-search {
  float: right;
  vertical-align: bottom;
  margin-top: 18px;
  input {
    width: 240px;
  }
}

.objectsServices-list {
  width: 100%;
}
