<div class="col-sm-9">
  <div ng-repeat="service in filteredServices" class="service-listItem">
    <table class="listView listView--hover listView--iconsHover service-listItem-table">
      <thead>
        <th></th>
        <th>Name</th>
        <th>Provider Group</th>
        <th>Rule set</th>
        <th>Assigned To</th>
        <th></th>
      </thead>
      <tbody>
        <tr class="service-listItem-row" ng-class="{'is-selected': isRowInListSelected(service.name + service.group.name + service.ruleSet.name)}">
          <td>
            <input type="checkbox" ng-model="selectedCheckBoxes[service.name + service.group.name + service.ruleSet.name]">
          </td>
          <td>{{service.name}}</td>
          <td>{{service.group.name}}</td>
          <td>{{service.ruleSet.name}}</td>
          <td><!-- assigned to --></td>
          <td>
            <div class="listView-icons">
              <img class="listView-icon is-hidden-on-hover" src="images/icon_edit_16.png">
              <img class="listView-icon is-displayed-on-hover" src="images/icon_edit_16_blue.png">
            </div>
            <div class="listView-icons">
              <img class="listView-icon is-hidden-on-hover" src="images/icon_x_16.png">
              <img class="listView-icon is-displayed-on-hover" src="images/icon_x_dark_16.png">
            </div>
          </td>
        </tr>
        <tr ng-repeat="group in serviceConsumers(service)" ng-class="{'is-selected': isRowInListSelected(service.name + service.group.name + service.ruleSet.name)}">
          <td>
              <input type="checkbox" ng-model="selectedCheckBoxes[service.name + service.group.name + service.ruleSet.name]">
          </td>
          <td>{{group.name}}</td>
          <td>{{group.group.name}}</td>
          <td>{{group.ruleSet.name}}</td>
          <td><!-- assigned to --></td>
          <td>
            <div class="listView-icons">
              <img class="listView-icon is-hidden-on-hover" src="images/icon_edit_16.png">
              <img class="listView-icon is-displayed-on-hover" src="images/icon_edit_16_blue.png">
            </div>
            <div class="listView-icons">
              <img class="listView-icon is-hidden-on-hover" src="images/icon_x_16.png">
              <img class="listView-icon is-displayed-on-hover" src="images/icon_x_dark_16.png">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>