@import "../../../styles/variables";

.actions-radio {
  margin-right: 10px;

  // overriding radio class in base.less
  &.radio {
    margin-bottom: 5px;
    margin-top: 0;
    display: inline-block;

    label {
      margin: 2px 0;
    }

    label .label-text {
      padding-left: 2px;
    }

    input[type="radio"] + div:before {
      width: 16px;
      height: 16px;
    }
    input[type="radio"]:checked + div:after {
      height: 8px;
      width: 8px;
      left: 4px;
      top: 7px;
    }
  }
}

.actions-textFieldContainer, .subRules-info .actions-tableContainer {
  margin-left: 70px;
  margin-bottom: 10px;
}
.actions-textFieldContainer {
  .button {
    float: right;
  }
}

.subRules-info {
  .actions-tableContainer, .actions-tableScrollable {
    width: 222px;
  }
  .subRules-table {
    th:first-child {
      width: 75px;
    }
  }
}

.actions-textField {
  height: 82px;
  width: 222px;
  color: @color-50;
  padding-left: 10px;
  font-family: 'CiscoSansTT';
  line-height: 18px;
  padding-top: 5px;

  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
    color: blue;
    &:extend(.oblique);
    &:extend(.extra-light);
  }
}
