@import "../../../styles/variables";

.service-wrapper {
  width: 800px;
  padding: 0 15px;

  form {
    padding-left: 30px;

    &.meta {
      input {
        width: 294px;
      }
      textarea {
        width: 294px;
      }
    }
  }

  p {
    letter-spacing: 0.1px;
    width: 539px;
    font-weight: 300;
    line-height: 18px;
  }

  hr {
    margin: 0;
    width: 100%;
    border-color: @color-90;
  }

  .components {
    padding: 0 15px;
    width: 755px;

    p {
      width: 320px;
      margin-bottom: 20px;
    }

    .bold-text {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      color: @color-60;
      line-height: 18px;
    }

    .selected-icon {
      display: inline-block;
      background: url(../../../images/icon_status_ok_32.png) no-repeat;
      background-size: cover;
      height: 16px;
      width: 16px;
      margin-left: 7px;
      margin-bottom: -4px;
    }

    .component {
      width: 900px;
      background-color: @color-90;
      padding-left: 45px;
      padding-top: 1px;
      clear: both;

      h1 {
        font-size: 20px;
      }

      .meta {

        .form-group:last-child {
          margin-bottom: 0;
        }

        label {
          width: 98px;
          line-height: 32px;
        }
      }

    }

    hr {
      width: 100%;
    }

    .button-group {
      text-align: left;
    }
  }

  h3 .current {
    font-weight: bold;

  }


  .search-bar {
    margin-top: 5px;

    label {
      font-weight: normal;
    }

    input {
      border: 1px @color-70 solid;
      height: 32px;
      width: 190px;
      background: url(../../../images/magnifying-glass.png) no-repeat 10px 7px;
      padding-left: 40px;
      margin-left: 10px;
      background-color: white;
    }
  }

  .table {
    margin-top: 20px;

    thead tr {
      font-weight: bold;
    }

    tbody tr {
      cursor: pointer;

      td:first-child {
        border-left: solid 3px @color-90;
      }

      &:hover {
        background-color: @color-80;

        td:first-child {
          border-left: solid 3px @color-80;
        }
      }

      &.selected {
        background: @color-80;

        td:first-child {
          border-left: solid 3px @blue;
        }
      }
    }
  }

  .import {
    float: left;
    display: inline-block;
    background-color: #c4c7cc;
    color: white;
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    padding: 0 32px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-right: 300px;
  }

  .rules {
    float: left;
    display: inline-block;
    background-color: #c4c7cc;
    color: white;
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    padding: 0 32px;
    cursor: pointer;
    margin: 20px 325px 20px 0;
  }
}
