@import "../../../styles/variables";

.service-wrapper {
  margin-left: 15px;

  h3 {
    display: inline-block;
  }

  .next-button {
    float: right;
    background-color: @green;
    color: white;
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    padding: 0 32px;
    cursor: pointer;
    margin-bottom: 40px;
  }

  .img-close {
    background: url(../../../images/icon.png) no-repeat -33px -80px;
    position: relative;
    display: block;
    width: 17px;
    height: 21px;
    background-size: 800px;
    cursor: pointer;
    float: right;
    top: -48px;
    margin: 15px;
  }
  .icon-search {
    border-radius: 2px;
    background: transparent;
    top: 0px;
    border-right: 0;
  }

  .search-bar {
    input {
      border: 1px @color-70 solid;
      height: 32px;
      width: 190px;
      background: url(../../../images/magnifying-glass.png) no-repeat 10px 7px;
      padding-left: 40px;
      margin-left: 10px;
    }
  }

  .choice {
    font-weight: bold;
  }

  .service {
    width: 646px;
    margin: 10px auto;
  }

  .textData {
    width: 539px;
    font-size: 12px;
  }

  .service-icons {
    width: 250px;
    margin: 20px auto;

    .img-plus {
      background: url(../../../images/icon.png) no-repeat 0px -100px;
      display: inline-block;
      width: 23px;
      height: 23px;
      background-size: 800px;
      cursor: pointer;
      margin: 35px 10px;
    }
    .img-group {
      background: url(../../../images/icon.png) no-repeat -90px -103px;
      display: inline-block;
      width: 92px;
      height: 92px;
      background-size: 680px;
    }
    .img-contract {
      background: url(../../../images/icon.png) no-repeat 3px -193px;
      display: inline-block;
      width: 92px;
      height: 92px;
      background-size: 670px;
    }
  }

  hr {
    margin-top: 30px !important;
    margin-bottom: 14px !important;
    height: 1px !important;
    width: 646px;
    background-color: #D8D8D8;
  }
}
