@import "../../../styles/variables";

.service-wrapper {
  width: 800px;
  padding: 0 15px;

  form {
    padding-left: 30px;

    &.meta {
      input {
        width: 294px;
      }
      textarea {
        width: 294px;
      }
    }
  }

  p {
    letter-spacing: 0.1px;
    width: 539px;
    font-weight: 300;
    line-height: 18px;
  }

  hr {
    margin: 0;
    width: 100%;
    border-color: @color-90;
  }

  .components {
    padding: 0 15px;
    width: 755px;

    p {
      width: 320px;
      margin-bottom: 20px;
    }

    .bold-text {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      color: @color-60;
      line-height: 18px;
    }

    .selected-icon {
      display: inline-block;
      background: url(../../../images/icon_status_ok_32.png) no-repeat;
      background-size: cover;
      height: 16px;
      width: 16px;
      margin-left: 7px;
      margin-bottom: -4px;
    }

    .component {
      width: 900px;
      background-color: @color-90;
      padding-left: 45px;
      padding-top: 1px;
      clear: both;

      h1 {
        font-size: 20px;
      }

      .meta {

        .form-group:last-child {
          margin-bottom: 0;
        }

        label {
          width: 98px;
          line-height: 32px;
        }
      }

      .ep-pools {
        position: relative;

        .button:hover {
          background-color: @green;
          color: white;

          &.button--secondary {
            background-color: @color-60;
          }
        }

        .button--primary {
          cursor: auto;

          &:hover {
            background-color: @blue;
            color: white;
          }
        }
      }

      .selected-pool {
        margin-bottom: 8px;
        margin-right: 3px;
        float: left;

        .delete-pool {
          display: inline-block;
          background: url(../../../images/icon_x_16_white.png) no-repeat;
          background-size: cover;
          height: 8px;
          width: 8px;
          margin-left: 6px;
          margin-top: 4px;
          cursor: pointer;
        }

      }

      .pool-selection {
        height: 350px;
        width: 300px;
        max-height: 0;
        border: none;
        transition: max-height 0.2s ease;
        overflow: hidden;
        background-color: white;
        border-radius: 3px;
        font-weight: 300;
        color: @color-50;
        position: absolute;
        top: 37px;
        left: 107px;

        &.expanded {
          border: 1px solid @color-70;
          max-height: 500px;
        }

        input-search input {
          margin: 10px;
          width: 280px;
        }

        .pools {
          overflow: auto;
          height: 258px;
          padding-top: 1px;
        }

        .pool {
          height: 36px;
          padding-left: 10px;

          form {
            display: inline-block;
            float: right;
            padding-right: 30px;

            .switch {
              height: 20px;
              width: 55px;
              background-color: @color-70;
              border-color: @color-70;

              small {
                height: 20px;
                width: 20px;
              }

              &.checked {
                background-color: @dark-green;
                border-color: @dark-green;

                small {
                  left: 35px;

                }
              }
            }
          }

          &.apply {
            text-transform: uppercase;
            text-align: center;
            font-weight: 300;
            height: 40px;
            line-height: 40px;
            font-size: 12px;
            border-top: 1px solid @color-70;
            color: @color-70;
            cursor: pointer;

            &:hover {
              color: @color-60;
            }
          }
        }
      }

      .button-group {
        padding: 15px 0 15px 480px;
      }
    }

    hr {
      width: 100%;
    }
  }

  h3 .current {
    font-weight: bold;

  }
  .buttons {
    margin: 15px 0 25px;

    .button {
      margin-right: 8px;
    }
  }

  .search-bar {
    margin-top: 5px;

    label {
      font-weight: normal;
    }

    input {
      border: 1px @color-70 solid;
      height: 32px;
      width: 190px;
      background: url(../../../images/magnifying-glass.png) no-repeat 10px 7px;
      padding-left: 40px;
      margin-left: 10px;
      background-color: white;
    }
  }

  .table {
    margin-top: 20px;

    thead tr {
      font-weight: bold;
    }

    tbody tr {
      cursor: pointer;

      td:first-child {
        border-left: solid 3px @color-90;
      }

      &:hover {
        background-color: @color-80;

        td:first-child {
          border-left: solid 3px @color-80;
        }
      }

      &.selected {
        background: @color-80;

        td:first-child {
          border-left: solid 3px @blue;
        }
      }
    }
  }

  .nav-buttons {
    margin-top: 15px;
    float: right;
  }

  .import {
    float: left;
    display: inline-block;
    background-color: #c4c7cc;
    color: white;
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    padding: 0 32px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-right: 300px;
  }

  .rules {
    float: left;
    display: inline-block;
    background-color: #c4c7cc;
    color: white;
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    padding: 0 32px;
    cursor: pointer;
    margin: 20px 325px 20px 0;
  }
}
