<h2>New Service</h2>
<div class="service-wrapper">
    <form class="form-horizontal meta">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Name</label>

            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="service.name" id="name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="description">Description</label>

            <div class="col-sm-6">
                <textarea rows="3" class="form-control" ng-model="service.description" id="description"
                          placeholder="Optional"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="category">category</label>
            <div class="category-wrapper">
                <select class="form-control" name="category" id="category" ng-model="service.categoryId" ng-options="category.id as category.name for category in categories()">
                <!-- hard-coded option represents "null" -->
                <option value="">Uncategorized</option>
                </select>
            </div>
        </div>
    </form>
    <hr/>

    <p class="service-description">A Service is made up of two pieces: the provider group that will be doing the work,
        and the
        rule
        set that specifies how that work will be done.</p>

    <hr/>

    <h1>Group</h1>
    <span class="info"></span>

    <p>The group used for your new service can be a new group, an imported group, or an existing group</p>

    <div class="button-group">
        Search
        <input-search model="groupSearch"></input-search>
        <div class="button button--secondary" ui-sref="main.service.importGroup">
            Import Group from ISE
        </div>
        <div class="button button--secondary" ui-sref="main.service.newGroup">
            <div class="plus">+</div>
            <span class="new-text">New Group</span>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Endpoint Pools</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in groups() | filter:groupSearch" ng-click="service.providerGroupId = group.id"
            ng-class="{selected: group.id === selectedGroup().id}">
            <td>{{::group.name}}</td>
            <td>
                {{group.endpointPools | comma}}
            </td>
        </tr>
        </tbody>
    </table>

    <span class="bold-text">Selected:</span>
    <span ng-hide="selectedGroup()" class="hint">Select a group from above</span>
            <span ng-show="selectedGroup()">
            {{selectedGroup().name}}
            <div class="selected-icon"></div>
        </span>

    <hr/>

    <h1>Rule Set</h1>

    <p>The rule set used for your new service can be a new rule set or an existing rule set.</p>

    <div class="button-group">
        Search
        <input-search model="ruleSetSearch"></input-search>
        <div class="button button--secondary" ui-sref="main.service.newRuleSet">
            <div class="plus">+</div>
            <span class="new-text">New Rule Set</span>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Classifiers</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ruleSet in ruleSets() | filter:search" ng-click="service.ruleSetId = ruleSet.id"
            ng-class="{selected: ruleSet.id === selectedRuleSet().id}">
            <td>{{ruleSet.name}}</td>
            <td>{{ruleSet.rules | subRulesToString : 'classifier'}}</td>
        </tr>
        </tbody>
    </table>
    <span class="bold-text">Selected:</span>
    <span ng-hide="selectedRuleSet()" class="hint">Select a rule set from above</span>
        <span ng-show="selectedRuleSet()">
            {{selectedRuleSet().name}}
            <div class="selected-icon"></div>
        </span>
    <hr/>

    <div class="button-group create-service">
        <div class="button button--secondary" ui-sref="main.services.filters.cards">Cancel</div>
        <div class="button" ng-click="createService()"
             ng-class="{ 'is-disabled': serviceIncomplete() }">OK
        </div>
    </div>
</div>
