<h2>New Assignment</h2>

<div class="container-fluid">

    <form name="type" role="form">

        <div class="col-sm-6">
            <div class="radio">
                <label for="groupCentric">
                    <input type="radio" name="type" ng-model="type" id="groupCentric" value="groupCentric" required checked>
                    <h2>Group-Centric</h2>
                </label>
            </div>
            <p>Select a group below to start assigning services to it.</p>
            <div ng-class="{faded: type !== 'groupCentric'}">
                <input-search></input-search>
                <div class="scrollable">
                    <table class="listView">
                        <tbody>
                        <tr ng-repeat="group in groups() | filter:search" ng-click="selectGroup(group)"
                            ng-class="{ 'is-selected': isSelected(group)}">
                            <td class="list-element">
                                <div class="img-group" ng-class="itemIcon(group)"></div>
                                {{group.name}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-sm-6">
            <label for="serviceCentric">
                <input type="radio" name="type" ng-model="type" id="serviceCentric" value="serviceCentric" required checked>
                <h2>Service-Centric</h2>
            </label>

            <p>Select a service below to start assigning groups that should have access to it.</p>

            <div ng-class="{faded: type !== 'serviceCentric'}">
                <input-search></input-search>
                <div class="scrollable">

                    <table class="listView">
                        <tbody>
                        <tr ng-repeat="service in services() | filter:search" ng-click="selectService(service)"
                            ng-class="{ 'is-selected': isSelected(service)}">
                            <td class="list-element">
                                <div class="img-service" ng-class="itemIcon(service)"></div>
                                {{service.name}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="button-group">
    <div class="button button--secondary" ng-click="cancel()">Cancel</div>
    <div class="button" ng-class="{'is-disabled': !selected }" ng-click="ok()">OK</div>
</div>
