@import "../../../../styles/variables";

.new-assignment-modal {
  // overwriting angular-ui classes
  .modal-dialog {
    width: 610px;
  }
  &.modal {
    .modal-content {
      padding: 0 15px;
    }
  }

  .first-column {
    display: inline-block;
    width: 288px;
    padding-right: 20px;
    float: left;
  }

  .second-column {
    display: inline-block;
    width: 288px;
    padding-left: 20px;
  }

  input-search input {
    width: 268px;
    border-color: @color-80;
    border-radius: 3px;
  }

  p {
    font-weight: 300;
    color: @color-70;
    line-height: 18px;
  }
}



