@import "../../../../styles/variables";

.serviceEdit-buttons {
  text-align: left;
  margin-top: 20px;

  &.button-group {
    padding: 0;
  }
}

.serviceEdit-subView {
  padding-left: 15px;
}

.serviceEdit-editableItems {
  margin-top: 20px;
  margin-bottom: 38px;

  .objectsSettings-editHeader {
    width: 100px;
  }
}

.normal {
  color: @blue;
}

.normal-categories {
&:hover {
          color: @blue;
          cursor: pointer;
          text-decoration: underline;
        }
}