<h2>Services / {{service.name}}</h2>
<div class="objectsSettings">
    <table class="serviceEdit-editableItems listView--iconsHover ">
        <tr>
            <td class="objectsSettings-editHeader">Name</td>
            <td class="objectsSettings-editText" ng-model="service.name">
        <span editable-text="service.name" e-form="textBtnForm">
          {{service.name || 'empty'}}
        </span>
                <list-view-icon ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"
                                inactive-src="images/icon_edit_16.png" active-src="images/icon_edit_16_blue.png"
                                class="edit"></list-view-icon>
            </td>
        </tr>
        <tr>
            <td class="objectsSettings-editHeader"> Description</td>
            <td class="objectsSettings-editText" ng-model="service.description">
          <span editable-text="service.description" e-form="textBtnFormDescription">
          {{service.description || 'empty'}}
          </span>
                <list-view-icon ng-click="textBtnFormDescription.$show()" ng-hide="textBtnFormDescription.$visible"
                                inactive-src="images/icon_edit_16.png" active-src="images/icon_edit_16_blue.png"
                                class="edit"></list-view-icon>
            </td>
        </tr>
    </table>
</div>
<tab-nav tabs="navTabLinks"></tab-nav>
<ui-view></ui-view>
