@import "../../../../styles/variables";

.serviceEdit-editNameDescription {
  margin-bottom: 40px;
}

.serviceEdit-buttons {
  text-align: left;
}

.assignedGroups-table {
  width: 600px;
  table-layout: fixed;
  th:nth-child(1) {
    width: 7%;
  }
  th:nth-child(2) {
    width: 30%;
  }
  th:nth-child(3) {
    width: 58%;
  }
  th:nth-child(4) {
    width: 5%
  }
}

.serviceEdit-ruleSet-editableItems {
  margin-bottom: 15px;
}

.serviceEdit-ruleSet-button {
  width: 176px;
}
