@import "../../../../styles/variables";

.serviceEdit-editNameDescription {
  margin-bottom: 40px;
}

.serviceEdit-buttons {
  text-align: left;
}

.assignedGroups-table {
  width: 600px;
  table-layout: fixed;
  th:nth-child(1) {
    width: 7%;
  }
  th:nth-child(2) {
    width: 30%;
  }
  th:nth-child(3) {
    width: 58%;
  }
  th:nth-child(4) {
    width: 5%
  }
}

.serviceEdit-dropdown {
  display: inline-block;
  
  // bootstrap js hook
  &.open {
    .button--dropdown {
      background-color: @color-60;
      color: white;
    }
  }
  .dropdown-menu a {
    cursor: pointer;
  }
}