@import "../../../styles/variables";

.addEditRules-helpText {
  &:extend(.extra-light);
  width: 520px;
  color: @color-60;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 18px;
}

.addEditRules-editButton {
  margin-bottom: 12px;
  .button {
    width: 128px;
  }
}
