<div class="ruleEditor">
  <div class="classifiers">
    <div class="title">Classifiers</div>
    <div class="search">
      <input-search model="search.classifiers.name"></input-search>
    </div>
    <div class="addButton">
      <div class="button">Add Custom Classifier</div>
    </div>
    <div class="hDivider"></div>
    <div class="category">Category</div>
    <div class="category-dropdown">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          All
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1">All</a></li>
        </ul>
      </div>
    </div>
    <div
      class="listItem"
      ng-repeat="classifier in existingClassifiers() | filter: search.classifiers"
      ng-drag="isInEditModeForAnyRule()"
      ng-drag-data="{type: 'classifier', data: classifier}">
      {{classifier.name}}
    </div>
  </div>

  <div class="editor">
    <rules-editor></rules-editor>
  </div>

  <div class="actions">
    <div class="title">Actions</div>
    <div class="search">
      <input-search model="search.actions.name"></input-search>
    </div>
    <div class="addButton">
      <div class="button">Add Custom Action</div>
    </div>
    <div class="hDivider"></div>
    <div class="listItem"
      ng-repeat="action in existingActions() | filter: search.actions"
      ng-drag="isInEditModeForAnyRule()"
      ng-drag-data="{type: 'action', data: action}">
      {{action.name}}
    </div>
  </div>
</div>
