@import "../../../../styles/variables";

@ruleEditor-height: 90vh;

.ruleEditor-modal {
  // overwriting angular-ui classes
  .modal-dialog {
    width: calc(960px + 10px);
    }
  &.modal {
    .modal-content {
      padding: 0;
    }
  }
}

.ruleEditor {
  height: @ruleEditor-height;

  h2 {
    margin-left: 15px;
  }

  .innerModal {
    width: 520px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
  }

  .classifiers, .actions {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    background-color: @color-90;
    height: @ruleEditor-height;
  }

  .classifiers {
    border-right: 1px solid @color-70;
  }

  .actions {
    border-left: 1px solid @color-70;
  }

  .openClose {
    position: absolute;
    right: 230px;
    bottom: 10px;
  }

}
