<div class="ruleEditor">
  <div class="classifiers">
    <sub-rules-list
      title="Classifier"
      sub-rule-type="CONSTANTS.CLASSIFIER"
      toggle-inner-modal="toggleInnerModal"
      list="existingClassifiers"
      filter="search.classifiers"
      is-draggable="isInEditModeForAnyRule">
    </sub-rules-list>
  </div>

  <!-- ng-switch-when values should match the CONSTANTS values -->
  <div class="innerModal" ng-switch on="innerModal">
    <div ng-switch-when="editor">
      <h2>Rules Editor</h2>
      <rules-editor
        are-all-rules-valid="areAllRulesValid"
        edit-mode-hash="editModeHash"
        selected-rule-set="selectedRuleSet">
      </rules-editor>
      <div class="openClose button-group">
          <div class="button button--secondary" ng-click="cancel()">Cancel</div>
          <div class="button" ng-click="ok()" ng-class="{ 'is-disabled': !areAllRulesValid() }">OK</div>
      </div>
    </div>
    <div ng-switch-when="action" class="customActionWrapper">
      <h2>Rules Editor / {{customAction.name}}</h2>
      <custom-action action="customAction"></custom-action>
      <div class="button-group button-group--right">
        <div class="button button--secondary" ng-click="toggleInnerModal(CONSTANTS.EDITOR)">Cancel</div>
        <div class="button" ng-click="createAction()" ng-class="{'is-disabled': !isCreateActionEnabled()}">Create</div>
      </div>
    </div>
    <div ng-switch-when="classifier" class="customClassifierWrapper">
      <h2>Rules Editor / {{customClassifier.name}}</h2>
      <custom-classifier classifier="customClassifier"></custom-classifier>
      <div class="button-group button-group--right">
        <div class="button button--secondary" ng-click="toggleInnerModal(CONSTANTS.EDITOR)">Cancel</div>
        <div class="button" ng-click="createClassifier()" ng-class="{'is-disabled': !isCreateClassifierEnabled()}">Create</div>
      </div>
    </div>
  </div>

  <div class="actions">
    <sub-rules-list
      title="Actions"
      sub-rule-type="CONSTANTS.ACTION"
      toggle-inner-modal="toggleInnerModal"
      list="existingActions"
      filter="search.actions"
      is-draggable="isInEditModeForAnyRule">
    </sub-rules-list>
  </div>
</div>
