@import "../../../../styles/variables";
.padding-15 {
  padding: 0 15px 15px 15px;
}
@ruleEditor-height: 90vh;

.ruleEditor-modal {
  // overwriting angular-ui classes
  .modal-dialog {
    width: calc(960px + 10px);
    }
  &.modal {
    .modal-content {
      padding: 0;
    }
  }
}

.ruleEditor {
  height: @ruleEditor-height;
}

.ruleEditor-classifiers, .ruleEditor-actions, .ruleEditor-editor {
  display: inline-block;
  vertical-align: top;
}

.ruleEditor-classifiers, .ruleEditor-actions {
  width: 220px;
  background-color: @color-90;
  height: @ruleEditor-height;
}

.ruleEditor-classifiers {
  border-right: 1px solid @color-70;
}

.ruleEditor-actions {
  border-left: 1px solid @color-70;
}

.ruleEditor-editor {
  width: 520px;
  background-color: white;
}

.ruleEditor-title {
  &:extend(.padding-15);
  &:extend(.thin);
  padding-top: 15px;
  font-size: 18px;
  color: @color-60;
  line-height: 26px;
  
  &.ruleEditor-title--editor {
    color: @color-70;
  }
}

.ruleEditor-search {
  &:extend(.padding-15);
  input {
    height: 32px;
  }
}

.ruleEditor-addButton {
  &:extend(.padding-15);
}

.ruleEditor-hDivider {
  border: 1px solid @color-70;
}

.ruleEditor-category {
  &:extend(.padding-15);
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 12px;
  color: @color-60;
  line-height: 18px;
}

.ruleEditor-category-dropdown {
  &:extend(.padding-15);
  padding-top: 5px;
  // overwriting bootstrap styles
  .btn {
    width: 190px;
    text-align: left;

    .caret {
      left: 140px;
      position: relative;
    }
  }
}

.ruleEditor-list {
  // margin: 0px 0px 15px 0;
}

.rulesets-listView-row {
  &.is-inEditMode {
    .rulesets-listView-itemContainer {
      border: 1px dashed @color-70;
      padding: 4px;
      border-radius: 8px;
    }
    .rulesets-settings-list-classifier, .rulesets-settings-list-action, .rulesets-settings-list-item {
      &:extend(.extra-light);
      height: 20px;
      border-radius: 5px;
      background-color: @rulesetEditor-rowItem-editMode-BG;
      color: white;
      line-height: 18px;
      font-size: 12px;
      padding: 2px;
      margin: 4px;
    }
    .rulesets-settings-list-action {
      background-color: @launchNav-notification-backgroundColor;
    }
  }
}

.rulesets-listView-numberEdit-edit {
  min-width: 25px;
  min-height: 25px;
}

.ruleEditor-listItem {
  &:extend(.extra-light);
  cursor: pointer;
  font-size: 12px;
  color: @color-50;
  line-height: 36px;
  border-left: 3px solid @color-90;
  padding-left: 15px;
  &:hover {
    background-color: @color-80;
    border-left: 3px solid @blue;
  }
}

.ruleEditor-editor-help {
  &:extend(.extra-light);
  &:extend(.padding-15);
  font-size: 12px;
  color: @color-60;
  line-height: 18px;
}

.ruleEditor-listView {
  &:extend(.padding-15);
  .listView {
    width: 100%;
  }
}