@import "../../../styles/variables";


.setup {
  display: inline-block;
  height: 53px;
  width: 100%;
  background-color: white;

  .run {
    float: left;
    display: inline-block;
    background-color: @green;
    color: white;
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    padding: 0 32px;
    cursor: pointer;
    margin: 10px;
  }

   p {
     margin-top: 19px;
   }
  .img-close {
    background: url(../../../images/icon.png) no-repeat -33px -80px;
    width: 17px;
    height: 21px;
    background-size: 800px;
    cursor: pointer;
    float: right;
    display: block;
    margin-right: 12px;
    margin-top: -30px;
  }
}
.services {
  padding-left: 15px;

    .card {
    width: 326px;

    &.defined {
      border-top: solid 3px @blue;
    }

    .values {
      position: absolute;
      bottom: 15px;

    }

    h4 {
      font-weight: 400;
      font-size: 10px;
      text-transform: uppercase;
      color: @blue;
      letter-spacing: 0.55px;
      line-height: 15px;
      margin: 12px 0 0;
    }

    .value {
      color: @color-50;
    }

    .sliding-box {
      h4 {
        color: @color-60;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 17px;
      }

      p {
        font-size: 10px;
        color: @color-60;
        line-height: 20px;

        a {
          color: @blue;
        }
      }
    }

  }
}
