@import "../../../styles/variables";

.services {

  .card {

    &.category {
      width: 326px;
      padding: 0;
      cursor: pointer;

      h3 {
        padding-left: 15px;
      }

      &.categories-new {
        cursor: auto;
        background-color: @color-80;
        border-color: @color-80;
        padding: 15px;

        .button {
          margin-bottom: 25px;
        }

        &:hover {
          border-color: @color-80;
        }
      }

      .metric {
        font-weight: 200;
        font-size: 36px;
        color: @blue;
        line-height: 48px;
      }
    }

  }

  .catalog {
    .section {
      width: 234px;
      line-height: 22px;
      border-right: 1px solid @catalog-border;
      border-bottom: 1px solid @catalog-border;

      h4 {
        font-weight: bold;
        font-size: 12px;
        color: @color-60;
        line-height: 36px;
        margin: 0;
      }

      div {
        cursor: pointer;
        line-height: 36px;
        color: @catalog-text;
      }

      .reset {
        color: @blue;
      }
    }
  }
}

