<div class="services container-fluid">

    <h2>Services</h2>

    <div class="col-sm-2 catalog">
        <div class="section">
            <div class="button new-button" ui-sref="main.service">
                <div class="plus">+</div>
                <span class="new-text">New Service</span>
            </div>
            <h4>All Categories</h4>

            <div ng-repeat="category in categories" ng-click="addFilter('category', category)">{{category.name}}</div>
            <div class="reset" ng-click="removeFilter('category')" ng-show="filters['category']">Reset</div>
        </div>

        <div class="section">
            <h4>Provider Group</h4>

            <div ng-repeat="group in providerGroups" ng-click="addFilter('group', group)">
                {{group.name}}
            </div>
            <div class="reset" ng-click="removeFilter('group')" ng-show="filters['group']">Reset</div>
        </div>
        <div class="section">
            <h4>Rule Set</h4>

            <div ng-repeat="ruleSet in ruleSets" ng-click="addFilter('ruleSet', ruleSet)">
                {{ruleSet.name}}
            </div>
            <div class="reset" ng-click="removeFilter('ruleSet')" ng-show="filters['ruleSet']">Reset</div>
        </div>
    </div>

    <div class="col-sm-9 services-navCardsList">
        <div class="services-navCardsList-search">Search <input-search></input-search></div>
        <div class="services-navCardsList-dropdown">
            <span>Sort by </span>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Newest to Oldest
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Newest to Oldest</a></li>
              </ul>
            </div>
        </div>
        <div class="services-navCardsList-toggleIcons">
            <img src="images/icon_view_cards_inactive.png">
            <img src="images/icon_view_list_inactive.png">
        </div>
    </div>
    <div class="col-sm-10">

        <div ng-repeat="service in filteredServices" class="card defined">
            <h3>{{service.name}}</h3>

            <div class="values">
                <h4>Provider Group</h4>

                <div class="value">{{service.group.name}}</div>
                <h4>Rule Set</h4>

                <div class="value">{{service.ruleSet.name}}</div>
            </div>
            <div class="sliding-box">
                <h4>Assigned Groups</h4>

                <div ng-hide="serviceConsumers(service).length">
                    <p>None (<a ng-click="assignService(service)">Assign this service to groups</a>)</p>
                </div>
                <div ng-show="serviceConsumers(service).length">
                    <p ng-repeat="group in serviceConsumers(service)">{{group.name}}</p>
                </div>
            </div>
        </div>
        <div class="card new" ui-sref="main.service">
            <div class="scircle">
                <span class="img-plus-serdfn" id="plus-serdfn"></span>
            </div>
        </div>
    </div>

</div>
