<form name="group" role="form">
    <div class="radio">
        <input type="radio" name="groupType" ng-model="state.groupChoice" id="New" value="new" required checked>
        <label for="New">
            Create a new group
        </label>
    </div>

    <div class="radio">
        <input type="radio" name="groupType" ng-model="state.groupChoice" id="Existing" value="existing" required>
        <label for="Existing">
            Select an existing group
        </label>
    </div>
</form>

<div class="next-button" ng-click="accessGroup()">Next</div>
