/ <span class="choice">Existing Group</span>

<div>
    <div class="search-bar">
        <label for="search">Search</label>
        <input type="text" name="search" ng-model="search" id="search" aria-describedby="basic-addon1">
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Origin</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in groups | filter:search" ng-click="setSelected(group.name)" ng-class="{selected : group.name === idSelectedGroup}" ng-mouseover="options=true" ng-mouseleave="options=false">
            <td>{{::group.name}}</td>
            <td>
                {{::group.origin}}
            </td>
            <td>
                <span class="search-icon" ng-show="options"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="next-button" ui-sref="main.service.contract.choose">Next</div>
