/<b> Existing Group</b>

<div>
    <div class="input-group search-filter">
        <label for="Search">Search</label>&nbsp;&nbsp;&nbsp;
        <span class="input-group-addon icon-search" id="basic-addon2"><i class="img-search input-img-search"></i></span>
        <input type="text" class="form-control input-search" name="searchContract" ng-model="searchContract" id="searchContract" aria-describedby="basic-addon2">
    </div>
    <table class="table table-hover">
        <thead>
        <tr><th>Name</th><th>Origin</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in groupObj | filter:search" ng-click="existingGroupSelection(obj)"
            ng-class="existingGroup==obj ? 'grayBackground' : ''">
            <td>{{::obj.name}}</td>
            <td>{{::obj.origin}}</td>
        </tr>
        </tbody>
    </table>
    <div class="col-sm-offset-2 col-sm-10">
        <button type="button" ng-model="buttonOne" class="btn btn-primary btn-round pull-right" ui-sref="main.service.contract.choose"
                >Next</button>
    </div>
</div>
