/ <span class="choice">Existing Group</span>

<div>
    <div class="search-bar">
        <label for="search">Search</label>
        <input type="text" name="search" ng-model="search" id="search" aria-describedby="basic-addon1">
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Origin</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in groups | filter:search"ng-click="setSelected(group.name)" ng-class="{selected : group.name === nameSelectedGroup}" >
            <td>{{::group.name}}</td>
            <td>
                {{::group.origin}}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="buttons">
    <div class="button back" ui-sref="main.service.group.choose">Back</div>
    <div class="button next" ui-sref="main.service.contract.choose">Next</div>
</div>
