@import "../../styles/variables";
@import "app/bower_components/bootstrap/less/mixins/clearfix";
@import (reference) "../../bower_components/bootstrap/less/bootstrap.less";

.launch {
  background-color: white;
  min-height: 100vh;
  padding: 30px 15px;
}

.launchNav-east {
  height: 32px;
}

.launchNav-east--right {
  float: right;
}

.launchNav-east-inputSearch {
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;

  input {
    width: 215px;
  }
}  

.launchNav-east-notification {
  background: @launchNav-notification-backgroundColor;
  border-radius: 16px;
  width: 75px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  font-family: 'CiscoSansTT';
  font-size: 16px;
  color: @launchNav-notification-color;
  text-align: center;
}

.launchNav-east-accountSettings {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
}

.launchNav-cisco {
  text-align: center;
  margin-top: 98px;
}

.launchSummary {
  text-align: center;
  // override bootstrap container - hack todo: clean
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.launchSummary-productName {
  &:extend(.thin);
  font-size: 36px;
  color: @color-60;
  line-height: 49px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 25px;
}

.launchSummary-category {
  // bootstrap columns are dynamically created at compilation
  // instead of placing col-xs-2 in the html, use the mixin to make a xs-column here explicitly
  .make-xs-column(2);
  // override bootstrap container - hack todo: clean
  padding-left: 0 !important;
  padding-right: 0 !important;
  cursor: pointer;
}

.launchSummary-category--first {
  // offsets the first column so the columns will be centered
  .make-xs-column-offset(3);
}

.launchSummary-category-name {
  &:extend(.thin);
  font-size: 32px;
  color: @color-60;
  line-height: 30px;
  margin-bottom: 15px;
}
