.top-menu {
  width: 100%;
  border-bottom: 1px solid black;
}

.top-menu h1 {
  display: inline-block;
}

.top-menu .icons {
  display: inline-block;
  float: right;
}

.top-menu .settings:hover {
  background-position: 0px -514px;
}
.top-menu .objects:hover{
  background-position: -44px -515px;
}
.top-menu .services:hover{
  background-position: -86px -517px;
}
.top-menu .account:hover{
  background-position: -127px -514px;
}

i.cisco-icon {
  background: url(../../images/icon.png) no-repeat;
  position: relative;
  display: block;
  background-position: -75px 0px;
  width: 84px;
  height: 40.3px;
  margin-bottom: -12px;
  margin-top: 48px;
  background-size: 950px;
}

.top-menu .header-text{
    font-size: 31px;
  color: #71757F;
  line-height: 32px;
  top: -77px;
  margin-top: -31px;
  margin-left: 109px;
}

.input-search{
  position: relative;
  z-index: 2;
  float: left;
  width: 26%;
  height: 35px;
  margin-bottom: 0;
  right: -550px;
  top: -47px;
}

.icon-search {
  background: url(../../images/icon.png) no-repeat;
  border-radius: 2px;
  background: transparent;
  top: 0px;
  border-right: 0;
  height: 20px;
  background-position: 2px -75px;
  left: -5px;
}

.top-menu .settings {
  background: url(../../images/icon.png) no-repeat;
  position: relative;
  display: block;
  background-position: 0px -472px;
  width: 43px;
  height: 43px;
  top: -90px;
  right: -853px;
  margin-top: 45px;
  background-size: 1017px;
}

.top-menu .dropdown{
  position: center;
  display: block;
  height: 52px;
}

.top-menu .objects {
  background: url(../../images/icon.png) no-repeat;
  position: relative;
  display: block;
  background-position: -44px -472px;
  width: 41px;
  height: 43px;
  top: -166px;
  right: -921px;
  margin-top: 34px;
  background-size: 1017px;
}

.top-menu .services {
  background: url(../../images/icon.png) no-repeat;
  position: relative;
  display: block;
  background-position: -86px -474px;
  width: 42px;
  height: 42px;
  top: -210px;
  right: -987px;
  margin-top: 3px;
  background-size: 1018px;
}


.top-menu .account {
  background: url(../../images/icon.png) no-repeat;
  position: relative;
  display: block;
  background-position: -127px -472px;
  width: 44px;
  height: 44px;
  top: -260px;
  right: -1054px;
  margin-top: 9px;
  background-size: 1016px;
}
