@import "../../styles/variables";

.main-wrapper {
  height: 100%;
}

.main {
  height: ~"calc(100% - 120px)";
  &.gray {
    background-color: @color-90;
  }
}

.alert.config-flash {
  margin-bottom: 0;
}
