@import "../../../styles/variables";

.listView.groups-list {
  table-layout: fixed;
  th:nth-child(1) {
    width: 4%;
  }
  th:nth-child(2) {
    width: 16.5%;
  }
  th:nth-child(3) {
    width: 15.5%;
  }
  th:nth-child(4) {
    width: 24%;
  }
  th:nth-child(5) {
    text-align: right;
  }
  th:nth-child(6) {
    text-align: right;
  }
  th:nth-child(5), td:nth-child(5) {
    width: 8%;
    text-align: right;
  }
  th:nth-child(6), td:nth-child(6) {
    width: 8%;
    text-align: right;
  }
  th:nth-child(7) {
    width: 20%;
  }
}
