<div class="groups">
    <h2>Groups</h2>

    <p>Groups encapsulate users who have things in common like role and location. Groups also
        encapsulate resources like application servers and firewalls that have things in common.</p>

    <div class="peBtn newGroup" ng-click="open()">
        <div class="plus">+</div>
        <span class="new-text">New Group</span>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in groups()">
            <td>{{group.name}}</td>
            <td>{{group.description}}</td>
        </tr>
        </tbody>
    </table>
</div>
