<h2>Groups</h2>
<div class="objectsList-container">
    <div class="objectsList-helpText">
        Groups encapsulate users who have things in common like role and location. Groups also
        encapsulate resources like application servers and firewalls that have things in common.
    </div>
    <div class="button-group">
      <div class="objectsList-new button" ui-sref="main.listNew.group">
          <div class="plus">+</div>
          New Group
      </div>
      <div class="objectsList-new button button--secondary" ui-sref="main.listNew.group">
          <div class="icon"><img src="images/icon_download_16.png"></img></div>
          Import from ISE
      </div>
    </div>
    <list-count-filter-search class="objectsList-countFilterSearch"
                              count="groups().length"
                              filters="groupFilters"
                              filter-by="filterGroupsListBy"
                              is-filter-selected="isGroupsListFilterSelected"
                              search-model="search.name">
    </list-count-filter-search>
    <table class="objectsList-list listView listView--iconsHover groups-list">
        <thead>
        <th></th>
        <th>Name</th>
        <th>Origin</th>
        <th>Description</th>
        <th>Services Provided</th>
        <th>Services Consumed</th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="group in groups() | filter: search">
            <td>
              <span ng-switch="group.type">
                <img ng-switch-when="user" src="images/icon_users_16.png"></img>
                <img ng-switch-when="resource" src="images/icon_resources_16.png"></img>
              </span>
            </td>
            <td>{{group.name}}</td>
            <td>{{group.origin}}</td>
            <td>{{group.description}}</td>
            <td>{{group.servicesProvided}}</td>
            <td>{{group.servicesConsumed}}</td>
            <td>
                <list-view-icon ng-click="edit(group)" inactive-src="images/icon_edit_16.png"
                                active-src="images/icon_edit_16_blue.png"></list-view-icon>
                <list-view-icon ng-click="deleteGroup(group.id)" inactive-src="images/icon_x_16.png"
                                active-src="images/icon_x_16_blue.png"></list-view-icon>
            </td>
        </tr>
        </tbody>
    </table>
</div>

