@import "../../../styles/variables";

.nav-bar {
  background-color: @color-50;
  height: 120px;
  width: 100%;
  border-bottom: 1px solid @color-70;
  clear: both;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);

  h1 {
    color: @color-80;
  }

  ::-webkit-input-placeholder {
    font-size: 13px;
  }

  .cisco-icon {
    background: url(../../../images/icon_cisco_logo_white.png) no-repeat;
    display: inline-block;
    width: 84px;
    height: 40.3px;
    margin: 0 20px;
    position: relative;
    top: 10px;
    cursor: pointer;
  }

  .title {
    display: inline-block;
    height: 90px;
    line-height: 96px;
    width: 90%;
  }

  .menu-items {
    display: inline-block;
    position: absolute;
    right: 15px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    span {
      margin-right: -18px;
      margin-top: -17px;
    }

    .nav li a:hover {
      background-color: transparent;
    }

    .dropdown-menu li a:hover {
      background-color: @color-80;
    }

    .dropdown-hover .dropdown-menu {
      display: block;
    }

    .dropdown {
      margin-left: 8px;
    }
  }

  .main-search input {
    width: 237px;
    position: absolute;
    right: 132px;
    background-color: @color-100;
    border: 1px solid @color-70;
    border-radius: 3px;
    color: @color-60;
    font-size: 13px;
  }

  #navbar {
    background-color: transparent;
    z-index: 3;
  }

  .icon {
    background-repeat: no-repeat;
    display: block;
    width: 38px;
    height: 38px;

    &.setup {
      background-image: url(../../../images/icon_settings_20_white.png);

      &:hover {
        background-image: url(../../../images/icon_settings_20_blue.png) !important;
      }

      &.current {
        background-image: url(../../../images/icon_settings_20_white.png);
      }
    }

    &.account {
      background-image: url(../../../images/icon_account_settings_20_white.png);

      &:hover {
        background-image: url(../../../images/icon_account_settings_20_blue.png) !important;
      }

      &.current {
        background-image: url(../../../images/icon_account_settings_20_white.png);
      }
    }
  }

  .menubar-category {
    margin-left: 115px;
    display: inline-block;
    margin-top: 4px;

    .menubar-category-name {
      font-size: 12px;
      letter-spacing: 0.1px;
      line-height: 18px;
      color: @color-80;
      height: 25px;
      padding: 0px 20px;
      width: 100%;

      &:hover {
        font-weight: bold;
        border-bottom: 3px solid @blue;
      }

    }
  }
}
