<h2>Rule Sets</h2>
<div class="objectsList-container">
    <div class="objectsList-helpText">
        Rule sets are encapsulations of network rules. A small library of default rule sets are provided for you to use
        or to copy. You can also create your own from scratch.
    </div>
    <div class="objectsList-newButtons">
        <div class="objectsList-new button" ui-sref="main.listNew.ruleSet">
            <div class="plus">+</div>
            New Rule Set
        </div>
    </div>
    <list-count-filter-search class="objectsList-countFilterSearch"
                              count="rulesList().length"
                              filters="rulesListFilters"
                              filter-by="filterRulesListBy"
                              is-filter-selected="isRulesListFilterSelected"
                              search-model="search.name">
    </list-count-filter-search>
    <table class="objectsList-list listView listView--iconsHover">
        <thead>
        <th>Name</th>
        <th>Classifiers</th>
        <th>Used by Service</th>
        <th>Description</th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="ruleSet in rulesList() | filter: search">
            <td>{{ruleSet.name}}</td>
            <td>
                <div>{{ruleSet.rules | subRulesToString : 'classifiers'}}</div>
            </td>
            <td>{{ruleSet.services}}</td>
            <td>{{ruleSet.description}}</td>
            <td>
                <list-view-icon ng-click="edit(ruleSet)" inactive-src="images/icon_edit_16.png"
                                active-src="images/icon_edit_16_blue.png"></list-view-icon>
                <list-view-icon ng-click="deleteRuleSet(ruleSet)" inactive-src="images/icon_x_16.png"
                                active-src="images/icon_x_16_blue.png"></list-view-icon>
            </td>
        </tr>
        </tbody>

      </table>
  </div>

    </table>

</div>
<customClassifier rule-set="newRuleSet" edit-rule="editRule"></customClassifier>
