<div class="rulesets">
  <div class="rulesets-breadcrumbs">
    <div class="rulesets-breadcrumbs-breadcrumb">Rule Sets</div>
  </div>
  <div class="rulesList">
    <div class="rulesList-helpText">
      Rule sets are encapsulations of network rules.  A small library of default rule sets are provided for you to use or to copy.  You can also create your own from scratch.
    </div>
    <div class="rulesList-new button" ng-click="newRuleset()">
      <div class="plus">+</div>
      New Rule Set
    </div>
    <list-count-filter-search class="rulesList-countFilterSearch"
      count="rulesList().length"
      filters="rulesListFilters"
      filter-by="filterRulesListBy"
      is-filter-selected="isRulesListFilterSelected"
      search-model="search.name">
    </list-count-filter-search>
      <table class="rulesList-list listView listView--iconsHover">
        <thead>
          <th>Name</th>
          <th>Classifiers</th>
          <th>Used by Service</th>
          <th>Description</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="ruleSet in rulesList() | filter: search">
            <td>{{ruleSet.name}}</td>
            <td>{{ruleSet.rules | subRulesToString : 'classifiers'}}</td>
            <td>{{ruleSet.services}}</td>
            <td>{{ruleSet.description}}</td>
            <td>
              <list-view-icon ui-sref="main.ruleSetsEdit.settings({'ruleId': ruleSet.id})" inactive-src="images/icon_edit_16.png" active-src="images/icon_edit_16_blue.png"></list-view-icon>
              <list-view-icon inactive-src="images/icon_x_16.png" active-src="images/icon_x_dark_16.png"></list-view-icon>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

</div>
