<div class="allocation-panel">
    <div class="overlay" ng-show="mask()"></div>
    <div class="inner">
        <h2>{{title}}s</h2>

        <div class="search-bar">
            <form>
                <input type="text" ng-model="search">
            </form>
        </div>
        <div class="new-button-wrapper">
            <div class="new-button">
                <div class="plus">+</div>
                <span class="new-text">New {{title}}</span>
            </div>
        </div>
        <div ng-repeat="item in items | filter:search">
            <div class="list-element"
                 ng-drag="true" ng-drag-data="{id: item.id}" ng-drag-success="onDragComplete($data,$event)">
                <div class="img-user-groups"></div>
                {{item.name}}
            </div>
            <hr/>
        </div>
    </div>
</div>
