@import "../../../styles/variables";

@launchBubbleWidth: 145px;
@duration1: 0.1s;
@duration2: 0.2s;
@duration3: 0.3s;
@zIndexLaunchBubbleStart: 1;
@zIndexLaunchBubbleHover: 2;
@zIndexMain: 2;
@zIndexDrawer: 1;
.mixin-launchBubble-drawer() {
  height: @launchBubbleWidth;
  opacity: 0.9;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.15);
}
.mixin-launchBubble-drawer-itemStat-arrow() {
  position: relative;
  left: -5px;
}

.launchBubble {
  height: @launchBubbleWidth;
  width: @launchBubbleWidth;
  margin-bottom: 10px;
  position: relative;
  z-index: @zIndexLaunchBubbleStart;
}

.launchBubble-main {
  height: @launchBubbleWidth;
  width: @launchBubbleWidth;
  position: relative;
  z-index: @zIndexMain;
  border-radius: 50%;
  margin: 0 auto;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #F7F7F7 100%);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
}

.launchBubble-main-itemName {
  &:extend(.extra-light);
  font-size: 14px;
  line-height: 18px;
  color: @color-60;
  padding-top: 24px;
}

.launchBubble-main-itemStat {
  &:extend(.thin);
  font-size: 64px;
  color: @launchBubble-neutral-stat-color;
}

.launchBubble-main-itemStat.is-goodStat {
  color: @launchBubble-good-stat-color;
}

.launchBubble-drawer {
  position: absolute;
  top: 0;
  z-index: @zIndexDrawer;
}

.launchBubble-drawer-left {
  .mixin-launchBubble-drawer();
  background-color: @launchBubble-drawer;
  width: 0;
  left: @launchBubbleWidth / 2;
  position: relative;
  transition: width @duration2; // drawer left width transitions
}

.launchBubble-drawer-right {
  .mixin-launchBubble-drawer();
  background-color: @launchBubble-drawer;
  position: absolute;
  top: 0;
  left: @launchBubbleWidth;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding-top: 20px;
  text-align: left;
  width: 0;
  transition: width @duration2 @duration1; // drawer right width transitions after drawer-left finishes
}

.launchBubble-drawer-right-content {
  opacity: 0;
  transition: opacity @duration1 @duration3; // content of drawer2 appears after drawer-right's width is ready to accomodate
  padding-left: 15px;
}

.launchBubble-drawer-itemName {
  font-size: 10px;
  color: @color-60;
  letter-spacing: 0.5px;
  line-height: 14px;
  text-transform: uppercase;
  padding-top: 5px;
}

.launchBubble-drawer-itemStat {
  &:extend(.extra-light);
  font-size: 24px;
  line-height: 30px;
  padding-top: 2px;
  color: @launchBubble-drawer-bad-stat;
}

.launchBubble-drawer-itemStat-goodArrow {
  .mixin-launchBubble-drawer-itemStat-arrow();
  display: none;
}

.launchBubble-drawer-itemStat-badArrow {
  .mixin-launchBubble-drawer-itemStat-arrow();
  display: inline-block;
}

.launchBubble-drawer-itemStat.is-goodStat {
  color: @launchBubble-drawer-good-stat;

  .launchBubble-drawer-itemStat-goodArrow {
    display: inline-block;
  }
  .launchBubble-drawer-itemStat-badArrow {
    display: none;
  }
}


// transitions
  // pseudo-classes (:hover) are not sufficient for activating these transitions
  // because we're transitioning multiple elements staggered, need to do reverse transiton timing on mousleave
.is-hovered-js {
  .launchBubble {
    z-index: @zIndexLaunchBubbleHover;
  }
  .launchBubble-drawer-left {
    width: 75.2px;
  }
  .launchBubble-drawer-right {
    width: 135px;
  }
  .launchBubble-drawer-right-content {
    opacity: 1;
  }
}

.is-mouseleaved-js {
  .launchBubble-drawer-left {
    transition: width @duration1 @duration2; // drawer left recedes after drawer-right recedes
  }
  .launchBubble-drawer-right {
    transition: width @duration1 @duration1; // drawer right recedes after content hides
  }
  .launchBubble-drawer-right-content {
    transition: opacity @duration1; // content hides first
  }
}
