@import "../../../styles/variables";

.subRulesList {
  .titleSearch {
    z-index: 3;
    // position: absolute;
    background-color: orange;
  }

  h2 {
    color: @color-60;
  }

  .search {
    padding: 0 15px 15px 15px;
    input {
      height: 32px;
    }
  }

  .addButton {
    padding: 0 15px 15px 15px;
  }

  .hDivider {
    border: 1px solid @color-70;
  }

  .listItems {
    position: absolute;
    top: 150px;
    // z-index: 2;
  }

  .listItem {
    &:extend(.extra-light);
    cursor: pointer;
    font-size: 12px;
    color: @color-50;
    line-height: 36px;
    border-left: 3px solid @color-90;
    padding-left: 15px;
    position: relative;
    &:hover {
      background-color: @color-80;
      border-left: 3px solid @blue;
    }
  }

  .listItemScroll {
    height: 150px;
    // top: 150px;
    overflow-y: auto;
    position: relative;
  }

  .listItemScrollEmpty {
    width: 220px;
    position: relative;
  }
}