@import "../../../../styles/variables";
// @import (reference) "../../../../styles/buttons";

.rulesets-listView {
  padding-top: 30px;
  padding-left: 15px;
}

.rulesets-description {
  color: @color-60;
  width: 545px;
  margin-bottom: 25px;
}

.rulesets-new {
  width: 160px;
  position: relative;
  margin-bottom: 48px;
}

.rulesets-new-plus {
  width: 14px;
  height: 14px;
  position: relative;
  top: -2px;
}

.rulesets-settingsSearch {
  margin-bottom: 24px;
}

.rulesets-settings {
  display: inline-block;
}

.rulesets-settings-all, .rulesets-settings-default, .rulesets-settings-custom, .rulesets-settings-divider {
  display: inline-block;
  margin-right: 12px;
}

.rulesets-settings-all, .rulesets-settings-default, .rulesets-settings-custom {
  cursor: pointer;
}

.rulesets-settings-divider {
  height: 36px;
  border-left: 1px solid @color-75;
  vertical-align: middle;
}

.rulesets-settings-all {
  &:extend(.bold);
  color: @blue;
}

.rulesets-settings-all-number {
  font-size: 36px;
  color: @blue;
  &:extend(.thin);
  margin-bottom: 18px;
}

.rulesets-search {
  display: inline-block;
  float: right;
  margin-top: 28px;

  input {
    width: 238px;
  }
}

.rulesets-list {
  table {
    width: 100%;
  }
}