<div class="rulesList">
  <div class="rulesList-description">
    Rule sets are encapsulations of network rules.  A small library of default rule sets are provided for you to use or to copy.  You can also create your own from scratch.
  </div>
  <div class="rulesList-new button">
    <div class="plus">+</div>
    New Rule Set
  </div>
  <div class="rulesList-settingsSearch">
      <list-count count="rulesList().length"></list-count>
      <list-filter ng-repeat="filter in rulesListFilters"
        filter-name="filter.name"
        filter-by="filterRulesListBy"
        is-filter-selected="isRulesListFilterSelected">
      </list-filters>
    <div class="rulesList-search">
      <input-search model="search.rules"></input-search>
    </div>
  </div>
    <table class="rulesList-list listView listView--iconsHover listView--borderHover">
      <thead>
        <th>Name</th>
        <th>Classifiers</th>
        <th>Used by Service</th>
        <th>Description</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="rule in rulesList() | filter: search.rules">
          <td>{{rule.name}}</td>
          <td>{{rule.classifiers}}</td>
          <td>{{rule.services}}</td>
          <td>{{rule.description}}</td>
          <td>
            <div class="listView-icons">
              <img class="listView-icon is-hidden-on-hover" src="images/icon_edit_16.png">
              <img class="listView-icon is-displayed-on-hover" src="images/icon_edit_16_blue.png">
            </div>
            <div class="listView-icons">
              <img class="listView-icon is-hidden-on-hover" src="images/icon_x_16.png">
              <img class="listView-icon is-displayed-on-hover" src="images/icon_x_dark_16.png">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
