@import "../../../../styles/variables";

.rulesList-list-edit-delete() {
  margin-right: 12px;
  display: inline-block;
  visibility: hidden;

  .is-hovered, .is-not-hovered {
    width: 16px;
    height: 16px;
  }

  .is-hovered {
    display: none;
  }
  &:hover {
    .is-not-hovered {
      display: none;
    }
    .is-hovered {
      display: inline-block;
    }
  }
}

.rulesList {
  padding-left: 15px;
}

.rulesList-description {
  color: @color-60;
  width: 545px;
  margin-bottom: 25px;
}

.rulesList-new {
  width: 160px;
  position: relative;
  margin-bottom: 48px;
}

.rulesList-new-plus {
  width: 14px;
  height: 14px;
  position: relative;
  top: -2px;
}

.rulesList-settingsSearch {
  margin-bottom: 24px;
}

.rulesList-setting-all, .rulesList-setting-default, .rulesList-setting-custom, .rulesList-setting-divider {
  display: inline-block;
  padding-right: 6px;
}

.rulesList-setting-all, .rulesList-setting-default, .rulesList-setting-custom {
  cursor: pointer;
}

.rulesList-setting-divider {
  height: 36px;
  border-left: 1px solid @color-75;
  vertical-align: middle;
}

.rulesList-setting-all {
  &:extend(.bold);
  color: @blue;
}

.rulesList-setting-all-number {
  font-size: 36px;
  color: @blue;
  &:extend(.thin);
  margin-bottom: 18px;
}

.rulesList-search {
  display: inline-block;
  float: right;
  margin-top: 28px;

  input {
    width: 238px;
  }
}

.rulesList-list {
  width: 100%;

  td:last-child {
    text-align: right;
  }

  tr:hover {
    .rulesList-list-edit, .rulesList-list-delete {
      visibility: visible;
    }
  }
}

.rulesList-list-edit, .rulesList-list-delete {
  .rulesList-list-edit-delete();
}
