<div class="detailedRulesList-list">
  <table class="listView">
    <thead>
      <tr>
        <th></th>
        <th><div>Classifier</div><div class="listView-headerDescription">Classifiers are OR'ed</div></th>
        <th><div>Action</div><div class="listView-headerDescription">Actions are AND'ed</div></th>
      </tr>
    </thead>
    <tbody>
        <tr ng-if="ruleSet.rules.length === 0">
        <td><div class="listView-number">1</div></td>
        <td>
          <a ng-click="editRule()" ng-if="!rule.classifierIds.length">Click here to add rules</a>
        </td>
        <td>
        </td>
      </tr>
      <tr ng-repeat="rule in ruleSet.rules">
        <td><div class="listView-number">{{$index + 1}}</div></td>
        <td>
          <div class="listView-innerList" ng-repeat="classifier in getClassifiers(rule)">{{classifier.name}}</div>
        </td>
        <td>
          <div class="listView-innerList" ng-repeat="action in getActions(rule)">{{action.name}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
