<div class="detailedRulesList-list">
  <table class="listView">
    <thead>
      <tr>
        <th></th>
        <th><div>Classifier</div><div class="listView-headerDescription">Classifiers are OR'ed</div></th>
        <th><div>Action</div><div class="listView-headerDescription">Actions are AND'ed</div></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rule in ruleSet.rules">
        <td><div class="listView-number">{{$index + 1}}</div></td>
        <td>
          <a ng-click="editRule()" ng-if="!rule.classifiers.length">Click here to add rules</a>
          <div class="listView-innerList" ng-repeat="classifier in rule.classifiers">{{classifier.name}}</div>
        </td>
        <td>
          <div class="listView-innerList" ng-repeat="action in rule.actions">{{action.name}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>