@import "../../../styles/variables";

.detailedRulesList-list {
  width: 600px;
  .listView {
    width: 100%;
    tbody tr {
      cursor: auto;
    }
    th {
      &:nth-child(1) {
        width: 10%;
      }
      &:nth-child(2) {
        width: 46.5%;
      }
      &:nth-child(3) {
        width: 43.6%;
      }
    }
    a {
      cursor: pointer;
    }
    td {
      color: @color-60;
      vertical-align: top;
    }
  }
}
