<form name="rule-set" role="form">
    <div class="radio">
        <label for="New">
            <input type="radio" name="ruleSet" ng-model="state.ruleSetChoice" id="New" value="new" required checked>
            <div class="label-text">Create a new rule set</div>
        </label>
    </div>

    <div class="radio">
        <label for="Existing">
            <input type="radio" name="ruleSet" ng-model="state.ruleSetChoice" id="Existing" value="existing" required>
            <div class="label-text">Select an existing rule set</div>
        </label>
    </div>
</form>

<div class="buttons">
    <div class="button back" ng-click="accessGroup()">Back</div>
    <div class="button next" ng-click="accessRuleSet()">Next</div>
</div>
