/<b>Existing Rule Set</b>

<div>
     <div class="input-group search-filter">
        <label for="Search">Search</label>&nbsp;&nbsp;&nbsp;
        <span class="input-group-addon icon-search" id="basic-addon2"><i class="img-search input-img-search"></i></span>
        <input type="text" class="form-control input-search" name="searchContract" ng-model="searchContract" id="searchContract" aria-describedby="basic-addon2">
    </div>
    <table class="table table-hover">
        <thead>
        <tr><th>Name</th><th>Classifiers</th><th>Default/Custom</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in contractObj | filter:searchContract" ng-click="existingContractSelection(obj)"
            ng-class="existingContract==obj ? 'grayBackground' : ''">
            <td>{{::obj.name}}</td>
            <td>{{::obj.classifiers}}</td>
            <td>{{::obj.custom}}</td>
        </tr>
        </tbody>
    </table>
</div>

<a ui-sref="main.service.meta">Next</a>