<h3>Create or Select a Rule Set <span class="current">/ New Rule Set</span></h3>
<div>
    <div class="form-group">
        <label for="ruleSetName">Name</label>
        <input type="text" class="form-control new-group" ng-model="ruleSetName" id="ruleSetName" required >
    </div>
    <div class="form-group">
        <label for="ruleSetDesc">Description</label>
        <textarea class="form-control description" id="ruleSetDesc" ng-model="ruleSetDesc" required placeholder="optional"></textarea>
    </div>
</div>
<div class="buttons">
    <div class="button back" ui-sref="main.service.contract.choose">Back</div>
    <div class="button next" ui-sref="main.service.contract.addRule">Next</div>
</div>
