@import "../../../styles/variables";

.classifiers-categories {
  height: 100%;
  width: 50%;
  float: left;
  border-right: 1px solid @color-70;
}

.classifiers-classifiers {
  width: 50%;
  float: left;
  height: 100%;
}

.actions-boxLeft {
  &--classifiers {
    width: 64%;
    height: 100%;
  }
}

.actions-boxRight {
  &--classifiers {
    width: 35%;
    float: left;
  }
}