<h2>Classifiers Library</h2>
<div class="objectsList-helpText">
    Classifiers describe types of network traffic. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
    varius, diam sit amet pulvinar dignissim, tortor ipsum vestibulum dolor, a mollis nisi nisl vel nisl. Aenean
    placerat turpis id lorem dapibus, vitae egestas nibh volutpat. Duis id suscipit felis.
</div>
<div class="subRules-container">
    <div class="subRules-divider"></div>
    <div class="objectsList-new button subRules-new">
        New Classifier
    </div>
    <div class="subRules-box">
        <div class="subRules-boxLeft subRules-boxLeft--classifiers">
            <div class="subRules-search">
                <span class="subRules-searchLabel">Search</span>
                <input-search model="search.name"></input-search>
            </div>

            <div class="subRules-boxLeftInner">
                <div class="classifiers-categories">
                    <div class="subRules-name subRules-name--categories"
                         ng-repeat="category in categoryNames"
                         ng-click="selectCategory(category)"
                         ng-class="{'is-selected': isCategorySelected(category)}">
                        {{category}}
                    </div>
                </div>
                <div class="classifiers-classifiers subRules-scrollableContent">
                    <div class="subRules-name"
                         ng-repeat="classifier in selected.classifiersList | filter: search"
                         ng-click="selectClassifier(classifier)"
                         ng-class="{'is-selected': isClassifierSelected(classifier)}">
                        {{classifier.name}}
                    </div>
                </div>
            </div>
        </div>

        <div class="subRules-boxRight subRules-boxRight--classifiers" ng-show="selected.classifier">
            <div class="subRules-edit" ui-sref="main.classifiersEdit({classifierId: selected.classifier.id})">
                <img class="is-hiddenOnHover" src="images/icon_edit_16.png">
                <img class="is-displayedOnHover" src="images/icon_edit_16_blue.png">
            </div>
            <div class="subRules-info">
                <div class="media">
                    <div class="media-left subRules-label">Name</div>
                    <div class="media-body subRules-text">{{selected.classifier.name}}</div>
                </div>
                <div class="media">
                    <div class="media-left subRules-label">Category</div>
                    <div class="media-body subRules-text">{{selected.classifier.category}}</div>
                </div>
                <div class="media">
                    <div class="media-left subRules-label">Protocols</div>
                    <div class="media-body subRules-text">{{selected.classifier.protocols.join(', ')}}</div>
                </div>
                <div class="media">
                    <div class="media-left subRules-label">Port</div>
                    <div class="media-body subRules-text">{{selected.classifier.port}}</div>
                </div>
                <div class="media">
                    <div class="media-left subRules-label">Description</div>
                    <div class="media-body subRules-text">{{selected.classifier.description}}</div>
                </div>
            </div>
        </div>
    </div>
