<div class="objectsList">
  <div class="objectsList-breadcrumb">Classifiers Library</div>
  <div class="objectsList-helpText">
    Classifiers describe types of network traffic.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius, diam sit amet pulvinar dignissim, tortor ipsum vestibulum dolor, a mollis nisi nisl vel nisl. Aenean placerat turpis id lorem dapibus, vitae egestas nibh volutpat. Duis id suscipit felis. 
  </div>
  <div class="actions-container">
    <div class="actions-divider"></div>
    <div class="objectsList-new button new-action">
      New Classifier
    </div>
    <div class="actions-box">
      <div class="actions-boxLeft actions-boxLeft--classifiers">
        <!-- left  -->
        <div class="actions-search">
          <span class="actions-searchLabel">Search</span>
          <input-search model="search.name"></input-search>
        </div>

        <div class="actions-boxLeftInner">
         <div class="classifiers-categories">
           <div class="actions-name actions-name--categories"
             ng-repeat="(category, classifiers) in classifierCategories()"
             ng-click="selectCategory(category, classifiers)"
             ng-class="{'is-selected': isCategorySelected(category)}">
             {{category}}
           </div>
         </div>
         <div class="classifiers-classifiers actions-scrollableContent">
           <div class="actions-name"
            ng-repeat="classifier in selected.classifiersList | filter: search"
            ng-click="selectClassifier(classifier)"
            ng-class="{'is-selected': isClassifierSelected(classifier)}">
            {{classifier.name}}
            </div>
         </div>
        </div>
      </div>

      <div class="actions-boxRight actions-boxRight--classifiers">
        <!-- right -->
        <div class="actions-edit" ui-sref="main.classifiersEdit({classifierId: selected.classifier.id})">
          <img class="is-hiddenOnHover" src="images/icon_edit_16.png">
          <img class="is-displayedOnHover" src="images/icon_edit_16_blue.png">
        </div>
        <div class="actions-info">
          <div class="media">
            <div class="media-left actions-label">Name</div>
            <div class="media-body actions-text">{{selected.classifier.name}}</div>
          </div>
          <div class="media">
            <div class="media-left actions-label">Category</div>
            <div class="media-body actions-text">{{selected.classifier.category}}</div>
          </div>
          <div class="media">
            <div class="media-left actions-label">Protocols</div>
            <div class="media-body actions-text">{{selected.classifier.protocols.join(',')}}</div>
          </div>
          <div class="media">
            <div class="media-left actions-label">Port</div>
            <div class="media-body actions-text">{{selected.classifier.port}}</div>
          </div>
          <div class="media">
            <div class="media-left actions-label">Description</div>
            <div class="media-body actions-text">{{selected.classifier.description}}</div>
          </div>
        </div>

    </div>

  </div>
</div>