@import "../../../styles/variables";

.classifiers-categories, .classifiers-classifiers {
  width: 50%;
  float: left;
  height: 100%;
}

.classifiers-categories {
  border-right: 1px solid @color-70;
}

.subRules-boxLeft {
  &--classifiers {
    width: 65%;
  }
}

.subRules-boxRight {
  &--classifiers {
    width: 35%;
  }
}

.subRules-name {
  &--categories.is-selected {
    background-color: @color-80;
  }
}
