<div class="categories-new card category">
    <div class="button new-button" ui-sref="main.service">
        <div class="plus">+</div>
        <span class="new-text">New Service</span>
    </div>
    <div class="metric">
        <ng-pluralize count="categories.length"
                      when="{'0': 'Zero Categories',
                         'one': '1 Category',
                         'other': '{} Categories'}"></ng-pluralize>
    </div>
    <div class="metric">
        <ng-pluralize count="services.length"
                      when="{'0': 'Zero Services',
                         'one': '1 Service',
                         'other': '{} Services'}"></ng-pluralize>
    </div>
</div>
<div ng-repeat="category in categories" class="card category"
     ng-click="goToCategory(category)">
    <h3>{{category.name}}</h3>
    <img ng-src="{{category.image}}"/>
    <div class="sliding-box">
        <h4>Newly Added Services</h4>

        <div ng-hide="servicesByCategory(category).length">
            <p>None</p>
        </div>
        <div ng-show="servicesByCategory(category).length">
            <p ng-repeat="service in servicesByCategory(category)">{{service.name}}</p>
        </div>
        <div class="buttons">
            <div class="button is-selected">Rename</div>
            <div ng-click="deleteCategory(category)" class="button button--danger">Delete</div>
        </div>
    </div>
</div>
